$button-border-color = #dadcdf

$button-fill-primary = #267df4
$button-fill-success = #6fc754


.button

  display inline-block
  font-size 16px
  height 50px
  line-height 50px
  border-radius 25px
  border 1px solid $button-border-color
  padding 0 20px
  color #000
  text-decoration none
  text-align center
  position relative
  overflow hidden

  &:after

    content ''
    display block
    width 0
    height 10px
    border-radius 20px
    background rgba(#eee, .5)
    position absolute
    top 50%
    transform translateY(-50%)
    left 0
    z-index 1
    transition width .3s, height .3s

  &:hover

    color #000
    text-decoration none


    &:after

      width 100%
      height 100%

  &:focus,
  &:link

    outline none
    text-decoration none
    color #000

  &_small

    height 42px
    line-height 42px
    border-radius 20px
    padding 0 15px

    .icon

      &_left
        margin-right 10px

      &_right
        margin-left 10px

      &_arrow-more
        margin-left 10px!important

  &_fill

    &-primary

      color #fff
      fill #fff
      border-color $button-fill-primary
      background $button-fill-primary

      &:hover
        color #fff

      &:focus,
      &:link

        outline none
        text-decoration none
        color #fff

      &:after
        background rgba(#000, .1)

    &-saccess

      color #fff
      fill #fff
      border-color $button-fill-success
      background $button-fill-success

      &:hover
        color #fff

      &:focus,
      &:link

        outline none
        text-decoration none
        color #fff

      &:after
        background rgba(#000, .1)

  .icon

    position relative
    z-index 2

    &_apple

      position relative
      top 2px

    &_arrow-more
      margin-left 25px

  span

    position relative
    z-index 2
