$footer-text-color = #8c8f94

.footer

  &__container
    padding 90px 0

    @media (max-width:767px)
      padding 70px 0

  .logo

    margin-bottom 25px

  &__text

    font-size 14px
    color $footer-text-color
    line-height 1.8

  &__social
    margin-bottom 30px

    a
      display inline-block
      margin-right 30px

      &:last-child
        margin-right 0

      @media (max-width: 991px)
        margin-right 60px
