mixin footer()

  footer.footer
    
    .container
      
      hr  
      .footer__container
        .row
          
          .col-md-4
            
            +logo('a')(href="#")
            
            .footer__text
                
              p It was some time before he obtained any answer, and the reply, when made, was unpropitious.
            
            .footer__social
              
              a(href="#"): +icon('social-twitter')
              a(href="#"): +icon('social-facebook')
              a(href="#"): +icon('social-linkedin')
                
          .col-lg-6.col-md-7.col-lg-offset-2.col-md-offset-1
            .row
              
              .col-xs-4
                ul.list-v
                  li: span.list-v__title(href="#") About us
                  li: a.link(href="#") How it works?
                  li: a.link(href="#") Meeting tools
                  li: a.link(href="#") Live striming
                  li: a.link(href="#") Contat method
                  
              .col-xs-4
                ul.list-v
                  li: span.list-v__title(href="#") About us
                  li: a.link(href="#") About us
                  li: a.link(href="#") Features
                  li: a.link(href="#") Privacy police
                  li: a.link(href="#") Terms & Conditions
                
              .col-xs-4
                ul.list-v
                  li: span.list-v__title(href="#") Support
                  li: a.link(href="#") F.A.Q.
                  li: a.link(href="#") Contact us
                  li: a.link(href="#") Live chat
                  li: a.link(href="#") Phone call

          
          
          
