mixin slider-reviews()
  // Slider reviews begin

  .reviews
    .container
      .reviews__nav
        .reviews__buttons
        .reviews__dots
          span.reviews__dot: img(src="/static/img/user1.jpg")
          span.reviews__dot: img(src="/static/img/user2.jpg")
          span.reviews__dot: img(src="/static/img/user3.jpg")
          
      .js-reviews.owl-carousel
          
        .review
          .h3 New Providence is the great UI kit 
          
          p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
          
          .review__rating
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
          
          .h5 Cameron Dowman
          
        .review
          .h3 New Providence is the great UI kit 
          
          p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
          
          .review__rating
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            
          .h5 Cameron Dowman
          
        .review
          .h3 New Providence is the great UI kit 
          
          p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
          
          .review__rating
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            
          .h5 Cameron Dowman

  // Slider reviews end       
