.reviews

  &__nav
    position relative

  &__prev, &__next

    padding 10px 20px
    background none
    border none
    outline none
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    z-index 10

    @media (max-width:767px)
      padding 0

    @media (max-width:576px)
      transform none
      top 100%

    &:hover

      .icon
        fill #8c8f94

    &.disabled

      pointer-events none
      opacity .5

    .icon

      display block
      fill #d4d4d5
      transition fill .3s

      @media (max-width:767px)
        width 16px

  &__next

    left auto
    right 0

  &__dots
    text-align center

  &__dot

    display inline-block
    width 90px
    height 90px
    border-radius 50%
    overflow hidden
    vertical-align middle
    margin 60px
    cursor pointer
    box-shadow 0 0 0 transparent
    opacity .2
    transition box-shadow .4s, transform .4s, opacity .4s

    @media (max-width:767px)
      margin 30px

    @media (max-width:576px)
      margin 15px
      width 60px
      height 60px

    &:first-child
      margin-left 0

    &:last-child
      margin-right 0

    &.active

      transform scale(1.45)
      box-shadow 10px 20px 50px rgba(#000, .2)
      opacity 1

    img
      width 100%
      border-radius 50%




  .owl-stage-outer

    padding-top 50px
    overflow visible

  .owl-item

    height 100%
    opacity 0
    transition opacity .3s
    cursor grab

    &.active
      opacity 1

.review

  font-size 20px
  max-width 600px
  text-align center
  margin-left auto
  margin-right auto

  @media (max-width:767px)
    font-size 16px

  p
    color #8c8f94

    @media (max-width:767px)
      margin-bottom 20px

  .icon

    fill #f2bc3b
    margin 0 3px

  .h5

    color #000
    margin-top 40px
    margin-bottom 0

    @media (max-width:767px)
      margin-top 30px
