.list

  list-style none
  padding 0
  margin 0
  text-align left

.list-v
  @extends .list

  .list-v__title

    font-size 12px
    font-weight 500
    text-transform uppercase

  li
    margin-bottom 15px

    &:last-child
      margin-bottom 0

  .link
    color #8c8f94

    &:hover
      color #8c8f94
