mixin slider-gallery()
  // Slider gallery begin
  
  .slider-gallery
    
    .slider-gallery__mask
      div
        img(src="/static/img/ui-mask.png")
    
    .slider-gallery__container.js-gallery.owl-carousel
       
      .slider-gallery__item
        img(src="/static/img/ui-1.png")
          
      .slider-gallery__item
        img(src="/static/img/ui-2.png")
          
      .slider-gallery__item
        img(src="/static/img/ui.png")
          
      .slider-gallery__item
        img(src="/static/img/ui-3.png")
          
      .slider-gallery__item
        img(src="/static/img/ui-4.png")
  
  // Slider gallery end       
