.slider-gallery

  position relative
  margin-top 50px

  &__mask
    width 358px
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    border-radius 58px
    box-shadow 0 10px 20px rgba(#000, .2)
    pointer-events none
    z-index 10

    @media (max-width:1199px)
      width 292px

    div
      margin-left -3px
      margin-right -3px

    img
      display block
      width 100%

  &__container

    width 320px
    margin auto

    @media (max-width:1200px)
      width 260px

  &__item

    width 320px

    @media (max-width:1200px)
      width 260px

  .owl-stage-outer

    padding-top 84px
    overflow visible

    @media (max-width: 1199px)
      padding-top 70px

  .owl-item

    box-shadow 0 20px 50px rgba(#000, .2)
    transition box-shadow .4s
    cursor grab

    &.active
      box-shadow 0 0 0 transparent
