.dropdown-menu

  height 0
  margin-left -50px
  margin-right 0
  overflow hidden
  transition height .3s ease

  &.active

    //max-height 1000px

  &__inner

    padding-top 40px
    padding-bottom 5px

    @media (max-width: 1199px)
      padding-top 20px

  &__top
    display none

    @media (max-width: 767px)
      display block

    .list

      text-align center

      li

        line-height 42px
        border-top 1px solid #ccc

    .button

      position relative
      top 20px

  &__bottom
    padding-left 50px

    @media (max-width: 767px)
      display none
