mixin dropdown-menu()
  // Dropdown menu begin
  
  .dropdown-menu.js-dropdown-menu
    
    .dropdown-menu__inner
      
      .dropdown-menu__top
        
        ul.list
          li: a.link(href="") Tour
          li: a.link(href="") Features
          li: a.link(href="") Pricing
          li: a.link(href="") Help
          li: a.link(href="") Contacts
          li
            +button('a')(href="#").button_fill-primary.button_small
              +icon('apple').icon_left
              span Get App
          
      .dropdown-menu__bottom
        .row
          
          .col-xs-4
            ul.list-v
              li: span.list-v__title(href="#") About us
              li: a.link(href="#") How it works?
              li: a.link(href="#") Meeting tools
              li: a.link(href="#") Live striming
              li: a.link(href="#") Contat method
              
          .col-xs-4
            ul.list-v
              li: span.list-v__title(href="#") About us
              li: a.link(href="#") About us
              li: a.link(href="#") Features
              li: a.link(href="#") Privacy police
              li: a.link(href="#") Terms & Conditions
            
          .col-xs-4
            ul.dropdown-menu__list.list-v
              li: span.list-v__title(href="#") Support
              li: a.link(href="#") F.A.Q.
              li: a.link(href="#") Contact us
              li: a.link(href="#") Live chat
              li: a.link(href="#") Phone call

  // Dropdown menu end         
