mixin features()
  // Features begin
  section.section
    
    .container
      .features
        .row
          
          .col-sm-6
            
            .features__item
              
              +icon('lock')
              
              h3 Real-time all the time
              
              p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
              p Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
            
          .col-sm-6
            
            .features__item
              
              +icon('clock')
              
              h3 Adopt without any obstacles
              
              p This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
              p This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
        
      hr
            
    .container
      
      .features-more
        
        .row.js-equal-height
            
          .col-lg-5.col-md-6.col-lg-offset-1.col-md-push-6
            
            .features-more__item
              h2 Your day<br>is protected
              
              p There have not been any since we have lived here, said my mother. 

              p We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
              
              .features-more__buttons
                
                +button('a')(href="#").button_fill-primary
                    span Try to hack us
                    +icon('arrow-more').icon_right
                      
                +button('a')(href="#")
                  span Learn more
                  
          .col-md-6.col-md-pull-6
                    
            .features-more__img
                img(src="/static/img/feature-phone.png" alt="phone")
        
  // Features end     
