$feature-text-color = #8c8f94

.features

  padding-bottom 60px

  @media( max-width:991px)
    padding-bottom 30px

  &__item

    padding-left 40px
    padding-right 40px
    font-size 18px
    color $feature-text-color

    @media( max-width:767px)
      padding-bottom 20px
      font-size 16px

    @media (max-width:576px)
      padding-left 0
      padding-right 0

    .icon
      margin-bottom 30px

      @media( max-width:767px)
        margin-bottom 10px


.features-more

  padding-top 90px

  @media( max-width:991px)
    padding-top 70px

  &__img
    float right

    @media (max-width:991px)
      float none
      max-width 480px
      margin-top 40px
      margin-left auto
      margin-right auto

    img
      float right

      @media (max-width:1600px)
        width 750px

      @media (max-width:1400px)
        width 650px

      @media (max-width:1200px)
        width 550px

      @media (max-width:991px)
        float none
        width 100%

  &__item

    font-size 20px
    color $feature-text-color
    position relative

    @media (max-width:1200px)
      padding-left 40px

    @media (min-width:992px)
      top 50%
      transform translateY(-50%)

    @media (max-width:767px)
      font-size 18px

    @media (max-width:576px)
      padding-left 0

    h2, .h2
      margin-bottom 45px

      @media( max-width:767px)
        margin-bottom 20px

    p

  &__buttons
    padding-top 30px

    @media( max-width:767px)
      padding-top 20px

    .button

      min-width 140px
      margin-right 20px
      margin-bottom 15px
