.popup

  width 1024px
  position fixed
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
  box-shadow 0 5px 15px rgba(#000, .5)
  z-index 1000
  display none


  .close
    width 30px
    height 30px
    position absolute
    top 10px
    right 10px
    font-size 21px
    cursor pointer
    fill #8c8f94
    z-index 10
    transition fill .2s

    &:hover
      fill #000

    .icon_close
      width 30px
      height 30px


  video
    width 100%
    height 100%
    display block

.overlay
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  background rgba(#000, .5)
  display none
  z-index 150
