mixin hero()
  // Hero begin

  section.hero
    
    .hero__content
      
      h1.hero__title What happens tomorrow?
      
      p The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
      
      +button('a')(href="#" data-modal="watch-video").open-modal.hero__button
        +icon('play').icon_left
        span Watch Video
      
    .hero__img
      img(src="/static/img/hero-phone.png" alt="phone")

  // Hero end     
