$hero-text-color = #8c8f94

.hero

  background-image url('/static/img/hero.jpg')
  background-repeat no-repeat
  background-size cover
  background-position center bottom
  padding-top 100px

  @media (max-width:1200px)
    padding-top 60px

  &__content

    max-width 800px
    color $hero-text-color
    font-size 20px
    text-align center
    padding-left 15px
    padding-right 15px
    margin-left auto
    margin-right auto
    margin-top 80px

    @media (max-width:767px)
      font-size 18px
      margin-top 30px

  &__title

    margin-bottom 35px

    @media (max-width: 767px)
      font-size 40px
      margin-bottom 20px

  &__button

    width 205px
    margin 35px 0

    @media (max-width: 767px)
      margin 20px 0

  &__img
    max-width 450px
    margin-left auto
    margin-right auto

    @media (max-width: 767px)
      max-width 360px

    img
      display block
      width 100%
