.subscribe

  max-width 540px
  padding 15px
  margin-left auto
  margin-right auto

  @media (max-width: 576px)
    margin-bottom 60px

  &__title
    font-weight 400

  &__field

    position relative
    border 1px solid #cbcbce
    border-radius 25px
    height 52px
    text-align center

    .button

      position absolute
      top 4px
      right 4px
      z-index 10

      @media (max-width: 576px)
        position static
        margin-top 30px


  &__input

      display block
      width 100%
      height 50px
      text-align left
      background transparent
      border-radius 25px
      padding 0 150px 0 26px
      border none
      outline none
      position relative
      z-index 10

      &:focus + .subscribe__placeholder

        opacity 0

  &__placeholder

    position absolute
    left 26px
    top 50%
    transform translateY(-50%)
    opacity 1
    z-index 5
    transition opacity .3s
