mixin subscribe()
  // Subscribe begin

  .subscribe
    
    form
      
      .subscribe__field
        
        input.subscribe__input(type="text")
        span.subscribe__placeholder your email
          
        +button('a')(href="#").button_fill-saccess.button_small
          span Send Invite
          +icon('arrow-more').icon_right
        
  // Subscribe begin      
          
