.icon_apple {
  width: 17px;
  height: 21px;
}

.icon_arrow-more {
  width: 14px;
  height: 12px;
}

.icon_arrow-slider-left {
  width: 23px;
  height: 42px;
}

.icon_arrow-slider-right {
  width: 23px;
  height: 42px;
}

.icon_clock {
  width: 54px;
  height: 54px;
}

.icon_close {
  width: 44px;
  height: 44px;
}

.icon_lock {
  width: 54px;
  height: 54px;
}

.icon_logo {
  width: 140px;
  height: 13px;
}

.icon_play {
  width: 10px;
  height: 11px;
}

.icon_social-facebook {
  width: 9px;
  height: 18px;
}

.icon_social-linkedin {
  width: 16px;
  height: 15px;
}

.icon_social-twitter {
  width: 17px;
  height: 14px;
}

.icon_star {
  width: 24px;
  height: 23px;
}

