$toggle-menu-color = #1b1c1e

.toggle-menu

  display inline-block
  vertical-align middle
  cursor pointer
  text-decoration none

  span

    display block
    width 20px
    height 2px
    background $toggle-menu-color
    margin-bottom 3px
    position relative
    transition transform .5s ease, opacity .7s ease

    &:last-child
      margin-bottom 0

  &.active

    span

      transform rotate(135deg)

      &:nth-child(1)
        top 4px

      &:nth-child(2)
        opacity 0

      &:nth-child(3)
        top -6px
        transform rotate(225deg)
