extends ../layouts/main

include ../components/icon/icon
include ../components/logo/logo
include ../components/button/button
include ../components/toggle-menu/toggle-menu
include ../components/dropdown-menu/dropdown-menu
include ../components/slider-reviews/slider-reviews
include ../components/slider-gallery/slider-gallery
include ../components/subscribe/subscribe
include ../components/popup/popup

include ../sections/header/header
include ../sections/hero/hero
include ../sections/features/features
include ../sections/footer/footer

block content
  
  +header()
  +hero()
  +features()
    
  section.section.section_bg-gray
    
    .section__title
      
      h2 Beautiful Interface
      
      span.line-title
        
      .h5 landing screen
      
    +slider-gallery()
    
  section.section.section_bg-gray  
  
    .section__title
      
      h5 NewProvidence
      h2.subscribe__title Get it to your smartphone
      
    +subscribe()
    
  section.section
    
    +slider-reviews()
    
  +footer()
  
  // modal-1 begin

  +popup('watch-video')
    video(controls)
      source(src="/static/img/example.mp4" type="video/mp4")
      | Your browser does not support the video tag.
            
  // modal-1 end
  
