body
  font-size 14px

.page
  overflow hidden

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6

  margin-top 0
  margin-bottom 30px

  @media (max-width: 767px)
    margin-bottom 15px

h1, .h1
  @media (max-width: 767px)
    font-size 40px

h2, .h2
  @media (max-width: 767px)
    font-size 32px

h3, .h3
  @media (max-width: 767px)
    font-size 26px

h5, .h5

  font-size 12px
  text-transform uppercase
  font-weight 400
  color #8c8f94

p
  margin-bottom 30px

  @media (max-width: 767px)
    margin-bottom 15px

hr
  margin 0

.line-title

  display inline-block
  width 50px
  height 2px
  background #267df4
