.header

  padding 40px 0
  background transparent
  box-shadow 0 0 0 transparent
  position fixed
  top 0
  left 0
  right 0
  transition background .5s, boxshadow .10s, padding .3s
  z-index 100

  @media (max-width: 767px)
    padding 20px 0

  &.active

    background #f7f4fe
    box-shadow 0 1px 15px rgba(#000, .3)

  &.scrolled

    padding 20px 0
    background #f7f4fe
    box-shadow 0 1px 15px rgba(#000, .3)

    .dropdown-menu__inner
      padding-top 30px
      padding-bottom 20px

      @media (max-width: 767px)
        padding-top 20px
        padding-bottom 5px

  &__container
    padding-left 50px
    position relative

    .logo

      position absolute
      left 50%
      top 50%
      transform translate(-50%,-12px)
      margin-left -30px

  &__nav

    min-height 23px
    position relative
    @extends .clearfix

    .toggle-menu

      position absolute
      left -50px
      top 50%
      transform translateY(-7px)

  &__list

    @extends .list

    @media (max-width: 767px)
      display none

    li

      display inline-block
      line-height 42px
      margin 0 15px
      vertical-align top

      @media (max-width: 991px)
        margin 0 7px

      &:first-child
        margin-left 0

      &:last-child
        margin-right 0

    .button

      display block


//.header__nav
