
mixin header()
  // Header begin

  header.header
    
    .container
      
      .header__container
      
          
          
        nav.header__nav
          
          +logo('a')(href="#")
          +toggle-menu()
          
          ul.header__list.pull-left
            li: a.link(href="") Tour
            li: a.link(href="") Features
            li: a.link(href="") Pricing
            
          ul.header__list.pull-right
            li: a.link(href="") Help
            li: a.link(href="") Contacts
            li
              +button('a')(href="#").button_fill-primary.button_small
                +icon('apple').icon_left
                span Get App
            
        +dropdown-menu()

  // Header end
