.section

  padding 100px 0

  @media (max-width:991px)
    padding 70px 0

  &_bg-gray
    background #f5f5f8

  &__title

    padding-left 15px
    padding-right 15px
    text-align center

  .line-title
    margin-bottom 25px
