<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title site
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet", href="/static/css/main.css")
  body
    .overlay
    .page
      

      block content
      
    script(src="/static/js/main.js")
  
