$link-color = #26272d
$link-hover-color = #8c8f94


.link

  display inline-block
  line-height 1.3
  text-decoration none
  color #26272d
  padding-top 0
  position relative
  text-decoration none

  &:after

    content ''
    display block
    width 0
    height 0
    border-top 1px solid $link-hover-color
    transition width .3s

  &:hover

    color inherit
    text-decoration none

    &:after

      width 100%

.link-list

  list-style none
  padding 0
  margin 0
  text-align left

  ..link-list__title

    font-size 12px
    font-weight 500
    text-transform uppercase

  li
    margin-bottom 15px

    &:last-child
      margin-bottom 0

  .link
    color #8c8f94

    &:hover
      color #8c8f94
